{% extends "InventoApp/layout.html" %}
{% load static %}

{% block title %} Inventó Home {% endblock title %} 

{% block content %}
    <div class="jumbotron text-center">
        
        <img href="{% url "index" %}" src="{% static "images/logo-cropped.png" %}" style='height: 50px' alt="Invento Logo">
        <p class="lead">Inventory made simple.</p>

        <hr class="my-4">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <a href="{% url "item_list" %}" class=" btn btn-dark m-3 w-50 center-align">View Inventory</a>
            <a href="{% url "item_create" %}" class=" btn btn-dark m-3 w-50">Add Item</a>

        </div>
        
        
    </div>
{% endblock content %}

