{% extends "base.html" %}
{% load static %}

{% block title %}Inventory{% endblock title %}



{% block content %}
{% comment %} {% include "navs/nav_item_list.html" %} {% endcomment %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Items</h2>
    <a href="{% url 'item_create' %}" class="btn btn-primary">
        <strong>Add New Item</strong>
    </a>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>SKU</th>
                <th>Name</th>
                <th>Price</th>
                <th>Available Quantity</th>
                <th>Min. Inventory</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.sku }}</td>
                <td>{{ item.name }}</td>
                <td>${{ item.price }}</td>
                <td>{{ item.get_available_quantity }}</td>
                <td>{{ item.minimum_inventory }}</td>
                <td>
                        <a href="{% url 'item_detail' item.pk %}" class="btn btn-sm btn-primary">
                            <strong>Details</strong>
                        </a>
                        <a href="{% url 'item_update' item.pk %}" class="btn btn-sm btn-secondary">
                            <strong>Edit</strong>
                        </a>
                        <a href="{% url 'item_delete' item.pk %}" class="btn btn-sm btn-danger">
                            <strong>Delete</strong>
                        </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No items found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content%}