{% extends "InventoApp/layout.html" %}
{% load static %}

{% block title %}Inventory{% endblock title %} 

{% block content %}
    <h1 class='text-center mb-3'>Inventory</h1>
        <table class="table table-bordered table-striped table-wrap">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>SKU</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Supplier</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.item_id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.sku }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.supplier }}</td>
                        <td style="text-align: center; white-space: nowrap">
                            <a role='button' class='btn-secondary btn-custom1' aria-pressed="false" href="{% url "item_update" item.item_id %}">Update</a>
                            <a role='button' class='btn-custom-delete' aria-pressed="false" href="{% url "item_delete" item.item_id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
{% endblock content %}