{% comment %} 

Base layout -- contains the common layout for all the pages
- headers, footers, navbars, etc. 

Note that you used bootstrap and jquery CDN

{% endcomment %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Inventó {% endblock title %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
    <style>
        body{
            padding-top: 56px;
        }
        .navbar{
            background-color: #343a41;
        }
        .navbar-brand, .nav-link{
            color: #fff !important;
        }
        .container{
            margin-top: 20px;
        }
        .table th, .table td{
            vertical-align: middle;
        }
    </style>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        {% comment %}
        <a href="{% url "index" %}" class="navbar-brand">
            <img href="{% url "index" %}" src="{% static "images/logo.png" %}" style='width: 100px' alt="Invento Logo">
        </a>
        {% endcomment %}
        
        <button class="navbar-toggler" type='button' data-toggle='collapse' data-target="#navbarNav" aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle Navigation'>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id='navbarNav'>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url "item_create" %}" class="nav-link">
                        Add Item
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url "item_list" %}" class="nav-link">
                        View Inventory
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% comment %} content block as template {% endcomment %}
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    
    <script src="
    https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js">
    </script>

</body>
</html>