
{% extends 'layout.html' %}


{% block title %}Home{% endblock %}

{% block content %}
{% include "navs/nav_home.html" %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Inventó</h1>
    <p class="lead">Your complete inventory management solution</p>
    {% if not user.is_authenticated %}
        <hr class="my-4">
        <p>Please login or register to start managing your inventory.</p>
        <a class="btn btn-primary btn-lg mr-2" href="{% url 'login' %}">Login</a>
        <a class="btn btn-secondary btn-lg" href="{% url 'register' %}">Register</a>
    {% endif %}
</div>
{% endblock %}
